body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  background-color: black;
  color: azure;
}

.container {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.title {
  font-size: 3rem;
}

.action-button {
  border: 2px solid azure;
  background-color: transparent;
  color: azure;

  font-size: 1.25rem;
  padding: 0.5em 1em;
  margin: 0.25em;
}

.table-container {
  display: inline-block;
  padding: 10px;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  font-size: 1.75rem;
}

th,
td {
  border: 1px solid azure;
  padding: 0.5em 0.75em;
}

tfoot {
  font-weight: bold;
}
