@use 'variables' as v;

.flex {
  display: flex;
  gap: 0.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.25em;
}

.inline-flex {
  display: inline-flex;
  gap: 0.5rem;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-baseline {
  align-items: baseline;
}

.link:hover {
  text-decoration: underline;
}

.text-sm {
  font-size: v.$text-sm;
}

.text-base {
  font-size: v.$text-base;
}

.text-lg {
  font-size: v.$text-lg;
}

.text-xl {
  font-size: v.$text-xl;
}

.text-2xl {
  font-size: v.$text-2xl;
}

.text-center {
  text-align: center;
}

.light-color {
  color: v.$light-color;
}

.accent-color {
  color: v.$accent-color;
}

.overflow-x-auto {
  overflow-x: auto;
}