$primary-color: #00a699;
$accent-color: #f0972d;
$light-color: #fbfbfb;

$border-radius: 0.5em;

$global-font-size: 20px;

$text-sm: 0.75rem;
$text-base: 1rem;
$text-lg: 1.25rem;
$text-xl: 2rem;
$text-2xl: 4rem;
